/*  #7D1935:
    #4A96AD
    #F5F3EE
    #FFFFFF

	color:#B26F9C;
*/

body{
	 background-image: url('Images/back1.jpg')
}

.container {
	width:924px;
	margin:0 auto;
	padding:30px 24px;
    background-color: rgba(255,255,255,0.7);
    color:#4D94FF;
	font-size:17px;
	font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
}

.container2 {
	width:924px;
	margin:0 auto;
	padding:30px 24px;
    color:#4D94FF;
	font-size:17px;
	font-family: 'Open Sans','Helvetica Neue', Arial, sans-serif;
	-webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
}


h1,h2{
	color:brown;
	font-weight:normal;
	font-size:44px;
	line-height: 48px;
	margin:10px;
	font-family: 'Josefin Sans', sans-serif;
    text-align: left;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
    padding:0 15px;
    line-height: 44px;
    font-size: 20px;

}

nav ul li a:link{
    color: white;
}

li {
    padding: 7px;
}


a:link{
	color: black;
}
a:visited{
	color: rgba(120,107,155);
}

a:hover{
	color:(130,140,180);
    text-decoration: underline;
}
a{
    text-decoration: none;
}

#wie{
    float: right;
}

p {
    color: dodgerblue;
}

.Footer{
    width: 100%;
    margin:0 auto;
    font-size: 21px;
    -webkit-font-smoothing:antialiased;
	text-rendering:optimizelegibility;
    background-color: rgb(120,106,168);
}

.list2{
    list-style-type: none;
    color:gold;
    padding:10px 0px;
    font-family: inherit;
    font-size: 16px;
    display: inline-block;
    width: 320px;
}

.list3{
    display: inline-block;
    color: gold;
    font-size: 16px;
    list-style-type: none;
    width: 240px;
    
}

.list4{
    list-style-type: none;
    color:gold;
    padding:10px 0px;
    font-family: inherit;
    font-size: 16px;
    display: inline-block;
    width: 288px;
    text-align: right;
}
